{% extends "layout.twig" %}

{% block site_container %}


{% if site.current_user is not null %}

<div class='section page_cabinet'>
	<div class='section__wrap'>
		
		<div class='page_cabinet_wrap'>
			
			{% set menu = function("apply_filters", "elberos_user_cabinet_menu", [])%}
			
			<div class='page_cabinet_menu'>
				<ul>
					{% for item in menu %}
						<li><a class='nolink' href='{{ item.href }}'>{{ item.label }}</a></li>
					{% endfor %}
				</ul>
				<a class='nolink' href='{{ site.locale_prefix }}/cabinet/logout/'>
					<button class='button1 button-logout'>
						Выход
					</button>
				</a>
			</div>
			
			<div class='page_cabinet_content'>
				<h1 class='page_cabinet_title'>{{ site.title }}</h1>
				{% block content %}
				{% endblock %}
			</div>
			
		</div>
		
	</div>
</div>

{% else %}

{% include "@user-cabinet/login-form.twig" %}

{% endif %}


{% endblock %}