{% extends "@user-cabinet/cabinet.twig" %}

{% block content %}

<form class='web_form web_form_login'>
	
	<div class='web_form_row'>
		<input class='web_form_input web_form_field_value web_form_value web_form_input--text'
			placeholder='Введите текущий пароль' data-name="current_password" type='password' />
		<div class="web_form__field_result" data-name="current_password"
			data-default="&nbsp;">&nbsp;</div>
	</div>
	
	<div class='web_form_row'>
		<input class='web_form_input web_form_field_value web_form_value web_form_input--text'
			placeholder='Введите новый пароль' data-name="new_password1" type='password' />
		<div class="web_form__field_result" data-name="new_password1"
			data-default="&nbsp;">&nbsp;</div>
	</div>
	
	<div class='web_form_row'>
		<input class='web_form_input web_form_field_value web_form_value web_form_input--text'
			placeholder='Повторите новый пароль' data-name="new_password2" type='password' />
		<div class="web_form__field_result" data-name="new_password2"
			data-default="&nbsp;">&nbsp;</div>
	</div>
	
	<div class='web_form_buttons'>
		<button type='button' class='button button--submit button_password--submit'>Изменить пароль</button>
	</div>
	
	<div class="web_form_result" data-default="&nbsp;">&nbsp;</div>
	
</form>

<script>
onJQueryLoaded(function(){
	
	$('.web_form_login .button_password--submit').click(function(){
		
		var $form = $(this).parents('form.web_form_login');
		
		/* Result */
		ElberosFormClearResult( $form );
		$form.find('.web_form_result').html('Ожидайте идёт отправка запроса');
		
		/* Get data */
		var send_data = ElberosFormGetData($form);
		
		/* Send api */
		elberos_api_send
		(
			"elberos_cabinet",
			"change_password",
			send_data,
			(function($form){
				return function(res)
				{
					ElberosFormSetResponse($form, res);
				}
			})($form),
		);
		
	});
	
});
</script>


{% endblock %}