<div class='section page_login'>
	<div class='section__wrap'>
		
		<div class='page_login__title'>
			<h1>Авторизация</h1>
		</div>
		
		<div class='page_login__wrap'>
			<form class='web_form web_form_login'>
				
				<div class='web_form_row'>
					<input class='web_form_input web_form_field_value web_form_value web_form_input--text'
						placeholder='E-mail' data-name="login" />
					<div class="web_form__field_result" data-name="login"
						data-default="&nbsp;">&nbsp;</div>
				</div>
				
				<div class='web_form_row'>
					<input class='web_form_input web_form__field_value web_form_value web_form_input--text'
						placeholder='Пароль' data-name="password" type="password" />
					<div class="web_form__field_result" data-name="password"
						data-default="&nbsp;">&nbsp;</div>
				</div>
				
				<div class='web_form_buttons'>
					<button type='button' class='button button--submit'>Войти в кабинет</button>
				</div>
				
				<div class="web_form_result" data-default="&nbsp;">&nbsp;</div>
				
				<div class='web_form_login_register'>
					<a class='link' href='{{ site.locale_prefix }}/cabinet/register/'>
						Регистрация
					</a>
				</div>
				
				<div class='web_form_login_register'>
					<a class='link'
						href='{{ site.locale_prefix }}/cabinet/recovery_password1/'>
							Восстановить пароль
					</a>
				</div>
				
			</form>
		</div>
	</div>
</div>


<script>
onJQueryLoaded(function(){
	
	$('.web_form_login .button--submit').click(function(){
		
		var $form = $('form.web_form_login');
		
		/* Result */
		ElberosFormClearResult( $form );
		ElberosFormSetWaitMessage( $form );
		
		/* Get data */
		var send_data = ElberosFormGetData($form);
		
		/* Send api */
		elberos_api_send
		(
			"elberos_cabinet",
			"login",
			send_data,
			(function($form){
				return function(res)
				{
					ElberosFormSetResponse($form, res);
					if (res.code == 1)
					{
						document.location = site_locale_prefix + "/cabinet/profile/";
					}
				}
			})($form)
		);
		
	});
	
});
</script>