{% extends "layout.twig" %}

{% block content %}

<div class='page_cabinet_succes_logout'>
	Вы успешно вышли из кабинета
	<div class='page_cabinet_exit'>
		<a class='nolink' href='{{ get_site_url("/") }}'>
			<button class='button1'>
				Перейти на главную
			</button>
		</a>
	</div>
</div>

{% endblock %}