{% extends "@user-cabinet/cabinet.twig" %}

{% block content %}

<div class='page_cabinet_do_logout'>
	<div class='page_cabinet_do_logout_question'>
		Вы действительно хотите выйти из кабинета?
	</div>
	<div class='page_cabinet_do_logout_button'>
		<a href='{{ site.locale_prefix }}/cabinet/logout/success/'>
			Нажмите, чтобы выйти из кабинета
		</a>
	</div>
</div>

{% endblock %}
