{% extends "@user-cabinet/cabinet.twig" %}

{% block content %}

<form class='web_form web_form--style1 web_form_login'>
	
	{{ user_fields.renderForm(site.current_user, 'edit') | raw }}
	
	<div class='web_form_buttons'>
		<button type='button' class='button1 button_profile--submit'>Обновить</button>
	</div>
	
	<div class="web_form_result" data-default="&nbsp;">&nbsp;</div>
	
</form>

<script>
function update_client_type()
{
	$('.web_form__row[data-name=name]').hide();
	$('.web_form__row[data-name=surname]').hide();
	$('.web_form__row[data-name=company_name]').hide();
	var value = $('select[data-name=type]').val();
	if (value == 1)
	{
		$('.web_form__row[data-name=name]').show();
		$('.web_form__row[data-name=surname]').show();
	}
	else if (value == 2)
	{
		$('.web_form__row[data-name=company_name]').show();
	}
}

onJQueryLoaded(function(){
	
	update_client_type();
	$('select[name=type]').change(function(){
		update_client_type();
	});
	
	$('.web_form_login .button_profile--submit').click(function(){
		
		var $form = $(this).parents('form.web_form_login');
		
		/* Result */
		$form.find('.web_form_result').html('Ожидайте идёт отправка запроса');
		ElberosFormClearResult( $form );
		
		/* Get data */
		var send_data = ElberosFormGetData($form);
		
		/* Send api */
		elberos_api_send
		(
			"elberos_cabinet",
			"update_profile",
			(function($form){
				return function(res)
				{
					ElberosFormSetResponse($form, res);
				}
			})($form),
			send_data,
		);
		
	});
	
});
</script>


{% endblock %}