{% extends "@user-cabinet/cabinet.twig" %}

{% block content %}

<form class='web_form web_form_login web_form_elberos_user'>
	
	{{ user_fields.renderForm(site.current_user) | raw }}
	{{ user_fields.renderJS(site.current_user) | raw }}
	
	<div class='web_form_buttons'>
		<button type='button' class='button button_profile--submit'>Обновить</button>
	</div>
	
	<div class="web_form_result" data-default="&nbsp;">&nbsp;</div>
	
</form>


{{ user_fields.renderJS() | raw }}
<script>
onJQueryLoaded(function(){
	
	$('.web_form_login .button_profile--submit').click(function(){
		
		var $form = $(this).parents('form.web_form_login');
		
		/* Result */
		ElberosFormClearResult( $form );
		ElberosFormSetWaitMessage( $form );
		
		/* Get data */
		var send_data = ElberosFormGetData($form);
		
		/* Send api */
		elberos_api_send
		(
			"elberos_cabinet",
			"update_profile",
			send_data,
			(function($form){
				return function(res)
				{
					ElberosFormSetResponse($form, res);
				}
			})($form),
		);
		
	});
	
});
</script>


{% endblock %}