{% extends "layout.twig" %}

{% block site_container %}

<div class='section page_login'>
	<div class='section__wrap'>
		
		<div class='section_page_title'>
			Восстановление пароля
			<div class='line'></div>
		</div>
		
		<div class='page_login_wrap'>
			
			<form class='web_form web_form--style1 web_form_login'>
				
				{% if site.url_get('send_code') == 1 %}
				<div class='web_form_login_message'>
					Код восстановления был выслан на указанную вами почту. Введите код из письма.
				</div>
				{% endif %}
				
				<div class='web_form_row'>
					<input class='web_form_input web_form_field_value web_form_value web_form_input--text'
						placeholder='E-mail' data-name="login" value="{{ site.url_get('login') }}" />
					<div class="web_form__field_result" data-name="login"
						data-default="&nbsp;">&nbsp;</div>
				</div>
				
				<div class='web_form_row'>
					<input class='web_form_input web_form_field_value web_form_value web_form_input--text'
						placeholder='Код' data-name="code" value="{{ site.url_get('code') }}" />
					<div class="web_form__field_result" data-name="code"
						data-default="&nbsp;">&nbsp;</div>
				</div>
				
				<div class='web_form_row'>
					<input class='web_form_input web_form_field_value web_form_value web_form_input--text'
						placeholder='Пароль' data-name="password1" type='password' />
					<div class="web_form__field_result" data-name="password1"
						data-default="&nbsp;">&nbsp;</div>
				</div>
				
				<div class='web_form_row'>
					<input class='web_form_input web_form_field_value web_form_value web_form_input--text'
						placeholder='Повторите пароль' data-name="password2" type='password' />
					<div class="web_form__field_result" data-name="password2"
						data-default="&nbsp;">&nbsp;</div>
				</div>
				
				<div class='web_form_buttons'>
					<button type='button' class='button1 button--submit'>Изменить пароль</button>
				</div>
				
				<div class="web_form_result" data-default="&nbsp;">&nbsp;</div>
				
			</form>
			
			
		</div>
		
	</div>
</div>


<script>
onJQueryLoaded(function(){
	
	$('.web_form_login .button--submit').click(function(){
		
		var $form = $('form.web_form_login');
		
		/* Result */
		ElberosFormClearResult( $form );
		$form.find('.web_form_result').html('Ожидайте идёт отправка запроса');
		
		/* Get data */
		var send_data = ElberosFormGetData($form);
		
		/* Send api */
		elberos_api_send
		(
			"elberos_cabinet",
			"recovery_password2",
			send_data,
			(function($form){
				return function(res)
				{
					ElberosFormSetResponse($form, res);
					if (res.code == 1)
					{
						document.location = "/cabinet/login/?from=recover_password";
					}
				}
			})($form),
		);
		
	});
	
});
</script>

{% endblock %}