{% extends "layout.twig" %}

{% block site_container %}

<div class='section page_login'>
	<div class='section__wrap'>
		
		<div class='section_page_title'>
			Регистрация
			<div class='line'></div>
		</div>
		
		<div class='page_login_wrap'>
			
			<form class='web_form web_form--style1 web_form_login web_form_elberos_user'>
				
				{{ user_fields.renderForm() | raw }}
				{{ user_fields.renderJS() | raw }}
				
				<div class='web_form_buttons'>
					<button type='button' class='button1 button--submit'>Регистрация</button>
				</div>
				
				<div class="web_form_result" data-default="&nbsp;">&nbsp;</div>
				
				<div class='web_form_login_register'>
					<a class='link' href='/cabinet/login/'>Авторизация</a>
				</div>
				
			</form>
			
			
		</div>
		
	</div>
</div>


{{ user_fields.renderJS() | raw }}
<script>
onJQueryLoaded(function(){
	
	$('.web_form_login .button--submit').click(function(){
		
		var $form = $('form.web_form_login');
		
		/* Result */
		ElberosFormClearResult( $form );
		ElberosFormSetWaitMessage( $form );
		
		/* Get data */
		var send_data = ElberosFormGetData($form);
		
		/* Send api */
		elberos_api_send
		(
			"elberos_cabinet",
			"register",
			send_data,
			(function($form){
				return function(res)
				{
					ElberosFormSetResponse($form, res);
					if (res.code == 1)
					{
						/* Send metrika event */
						sendSiteEvent('metrika_event', 'site_register');
						
						/* Set timeout */
						setTimeout
						(
							function()
							{
								document.location = "/cabinet/login/?from=register";
							},
							500
						);
					}
				}
			})($form)
		);
	});
	
});
</script>

{% endblock %}