{% extends "layout.twig" %}

{% block page_container %}

<div class='section page_login'>
	<div class='section__wrap'>
		
		<div class='section_page_title'>
			Регистрация
			<div class='line'></div>
		</div>
		
		<div class='page_login_wrap'>
			
			<form class='web_form web_form--style1 web_form_login'>
				
				<input class='web_form_wp_nonce' type='hidden' value='{{ function("\\Elberos\\create_nonce") }}' />
				
				<div class='web_form_row'>
					<input class='web_form_input web_form_field_value web_form_value web_form_input--text'
						placeholder='E-mail' data-name="login" />
					<div class="web_form__field_result" data-name="login"
						data-default="&nbsp;">&nbsp;</div>
				</div>
				
				<div class='web_form_row'>
					<input class='web_form_input web_form__field_value web_form_value web_form_input--text'
						placeholder='Ваше имя' data-name="name" />
					<div class="web_form__field_result" data-name="name"
						data-default="&nbsp;">&nbsp;</div>
				</div>
				
				<div class='web_form_row'>
					<input class='web_form_input web_form_field_value web_form_value web_form_input--text'
						placeholder='Пароль' data-name="password1" type='password' />
					<div class="web_form__field_result" data-name="password1"
						data-default="&nbsp;">&nbsp;</div>
				</div>
				
				<div class='web_form_row'>
					<input class='web_form_input web_form_field_value web_form_value web_form_input--text'
						placeholder='Повторите пароль' data-name="password2" type='password' />
					<div class="web_form__field_result" data-name="password2"
						data-default="&nbsp;">&nbsp;</div>
				</div>
				
				<div class='web_form_buttons'>
					<button type='button' class='button1 button--submit'>Регистрация</button>
				</div>
				
				<div class="web_form_result" data-default="&nbsp;">&nbsp;</div>
				
				<div class='web_form_login_register'>
					<a class='link' href='/cabinet/login/'>Авторизация</a>
				</div>
				
			</form>
			
			
		</div>
		
	</div>
</div>


<script>
onJQueryLoaded(function(){
	
	$('.web_form_login .button--submit').click(function(){
		
		var $form = $('form.web_form_login');
		
		/* Result */
		$form.find('.web_form_result').html('Ожидайте идёт отправка запроса');
		ElberosFormClearResult( $form );
		
		/* Get data */
		var send_data = ElberosFormGetData($form);
		
		/* Send api */
		elberos_api_send
		(
			"elberos_cabinet",
			"register",
			(function($form){
				return function(res)
				{
					ElberosFormSetResponse($form, res);
					if (res.code == 1)
					{
						document.location = "/cabinet/login/?from=register";
					}
				}
			})($form),
			send_data,
		);
	});
	
});
</script>

{% endblock %}